nav#menu {
  display: flex;
  flex-direction: column;
  background: rgb(21, 49, 113);
  background: linear-gradient(
    180deg,
    rgba(21, 49, 113, 1) 0%,
    rgba(81, 168, 241, 1) 100%
  );
  transition: 0.3s;
  border-radius: 20px;
  color: #ffffff;
  align-items: center;
  gap: 10px;
  animation: cardSlide 2s linear;
  box-shadow: 15px 0 20px -15px black;
  min-width: 250px;
}
nav#menu h3 {
  font-size: 30px;
  padding: 50px 0;
}
nav#menu h4 {
  font-weight: 500;
  letter-spacing: 1.2px;
}
nav#menu a {
  width: 50%;
  justify-content: space-evenly;
  color: inherit;
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: 0.3s;
  animation: showNav 1.5s linear;
  gap: 5px;
}
nav#menu a.active {
  transform: translateX(15px);
  animation: showNavActive 1s linear;
}
nav#menu a:hover {
  transform: translateX(15px);
}
nav#menu svg {
  font-size: 46px;
}
nav#menu a:hover svg {
  transform: rotate(10deg);
  transition: 0.5s;
}
nav#menu a:hover:nth-child(5) svg {
  transform: rotate(180deg);
}
@keyframes showNav {
  from {
    opacity: 0;
    transform: translateX(-5px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes showNavActive {
  from {
    opacity: 0;
    transform: translateX(-5px);
  }
  to {
    opacity: 1;
    transform: translateX(15px);
  }
}
@keyframes cardSlide {
  from {
    opacity: 0.8;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
@media (min-width: 320px) and (max-width: 640px) {
  nav#menu {
    flex-direction: row;
    padding: 10px;
    border-radius: 5px 5px 0 0;
    animation: none;
    box-shadow: 0 5px 20px 1px black;
  }
  nav#menu h3 {
    display: none;
  }
  nav#menu a {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    animation: none;
  }
  nav#menu a.active {
    transform: none;
    animation: none;
  }
  nav#menu a:hover {
    transform: none;
  }
  nav#menu svg {
    font-size: 46px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  nav#menu {
    padding: 10px;
    border-radius: 5px 5px 0 0;
    animation: none;
    box-shadow: 0 5px 20px 1px black;
    justify-content: center;
    min-width: 200px;
    border-radius: 0;
  }
  nav#menu h3 {
    padding: 10px;
  }
  nav#menu a.active {
    transform: none;
    animation: none;
  }
  nav#menu a:hover {
    transform: none;
  }
  nav#menu svg {
    font-size: 46px;
  }
}
