div#table {
  position: relative;
  margin-top: 50px;
  display: flex;
  padding: 10px 50px;
}
div#table:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 2%;
  right: 2%;
  width: 95%;
  height: 1px;
  background-image: linear-gradient(
    to right,
    transparent,
    rgb(48, 49, 51),
    transparent
  );
}
div#table h4 {
  align-self: center;
}
div#table div#about-task h4:nth-child(1) {
  flex-grow: 1;
}
div#table h4:nth-child(2) {
  min-width: 100px;
  text-align: center;
  flex-basis: 20%;
}
div#task-list {
  display: flex;
  flex-direction: column;
  padding: 10px 50px 50px;
  gap: 10px;
  max-height: 70%;
  overflow: auto;
}
div#descriptions-task {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
}
div#about-task {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
}
div#task-list li {
  display: flex;
  justify-content: flex-start;
  position: relative;
  padding: 20px 0;
}
div#task-list li div#task {
  flex-grow: 1;
  align-self: center;
}
div#task-list li div#priority {
  flex-basis: 20%;
  text-align: center;
  align-self: center;
  font-size: 16px;
}
div#buttons-group {
  flex-basis: 30%;
}
div#task-list div.Low {
  color: green;
}
div#task-list div.Medium {
  color: orange;
}
div#task-list div.High {
  color: red;
}
div#task-list li.deleted-task {
  background-color: #000000;
}
div#buttons-container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-basis: 30%;
}
div#task-list li:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 2%;
  right: 2%;
  width: 95%;
  height: 1px;
  background-image: linear-gradient(
    to right,
    transparent,
    rgb(48, 49, 51),
    transparent
  );
}
@media (min-width: 320px) and (max-width: 640px) {
  div#table {
    margin-top: 10px;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    padding: 10px 0;
  }
  div#buttons-group {
    margin-bottom: 10px;
  }
  div#table div#about-task h4:nth-child(1) {
    flex-grow: 1;
  }
  div#table h4:nth-child(2) {
    min-width: 100px;
    text-align: center;
    flex-basis: 20%;
  }
  div#buttons-container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-basis: 100%;
    margin: 20px;
  }

  div#task-list {
    padding: 2px;
    max-height: 80%;
    overflow: auto;
    overflow-y: overlay;
    overflow-wrap: anywhere;
  }
  div#task-list li {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  div#task-list li div#priority {
    min-width: 100px;
    text-align: center;
    align-self: center;
    font-size: 16px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  div#table {
    margin-top: 5px;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    padding: 10px 0;
  }
  div#buttons-group {
    margin-bottom: 10px;
  }
  div#table div#about-task h4:nth-child(1) {
    flex-grow: 1;
  }
  div#table h4:nth-child(2) {
    min-width: 100px;
    text-align: center;
    flex-basis: 20%;
  }
  div#buttons-container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-basis: 100%;
    margin: 20px;
  }

  div#task-list {
    padding: 2px;
    max-height: 55%;
    overflow: auto;
    overflow-y: overlay;
    overflow-wrap: anywhere;
  }
  div#task-list li {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 5px 0;
  }
  div#task-list li div#priority {
    min-width: 100px;
    text-align: center;
    align-self: center;
    font-size: 16px;
  }
}
