div#table {
  margin-top: 50px;
  display: flex;
  padding: 10px 50px;
}
div#table h4 {
  align-self: center;
}
div#table h4:nth-child(1) {
  flex-basis: 50%;
}
div#table h4:nth-child(2) {
  min-width: 100px;
  text-align: center;
}
div#table div.group {
  width: 100%;
}
div#task-list {
  display: flex;
  flex-direction: column;
  padding: 10px 50px 50px;
  gap: 10px;
  max-height: 70%;
  overflow: auto;
}
div#task-list li {
  display: flex;
  justify-content: flex-start;
}
div#task-list li button:nth-child(3) {
  margin: auto;
}
div#task-list li div#task {
  flex-basis: 50%;
  align-self: center;
}
div#task-list li div#priority {
  min-width: 100px;
  text-align: center;
  align-self: center;
  font-size: 16px;
}
div#task-list div.Low {
  color: green;
}
div#task-list div.Medium {
  color: orange;
}
div#task-list div.High {
  color: red;
}
